@font-face {
    font-family: 'Bold-Pixel-Font';
    src: url("../assets/fonts/KarenFat.ttf");
}

@font-face {
    font-family: 'Thin-Pixel-Font';
    src: url("../assets/fonts/Habbo.ttf");
}

@mixin main-font() {
    font-family: 'Thin-Pixel-Font', 'monospace';
    font-weight: 100;
}

.body-container {
    width: 100dvw;
    height: 100dvh;
    background-color: #FFFCF3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    overflow-x: hidden;
    overflow-y: auto;

    // Main Page

    .left-container,
    .right-container {
        height: 100%;
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .left-container {
        position: sticky;
        top: 0;
        padding: 5rem 0 5rem 5rem;

        .wrapper-box {
            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            position: relative;
        }

        .titles-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: fit-content;

            position: absolute;
            top: 0;
            left: 0;

            >h1 {
                font-family: 'Bold-Pixel-Font', 'monospace';
                color: var(--title-color);
                font-size: 3.125rem;
                line-height: 2.5rem
            }

            >h2 {
                @include main-font;
                color: var(--text-color);
                font-size: 1.875rem;
            }

            >h3 {
                @include main-font;
                color: #000;
                font-size: 1.563rem;
                max-width: 22rem;
            }
        }

        .nav-container {
            width: 100%;
            height: fit-content;
            margin: 25vh 0 20vh 0;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            position: absolute;
            top: 25vh;
            left: 0;

            ul {
                margin-top: -100px;
                list-style: none;
                cursor: pointer;

                li {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: fit-content;
                    margin-bottom: 15px;
                    cursor: pointer;

                    >.nav-line {
                        width: 28px;
                        height: 1.5px;
                        background-color: #323232;
                        margin-right: 10px;
                        transition: width 0.2s linear;
                        cursor: pointer;
                    }

                    >p {
                        @include main-font;
                        color: #323232;
                        font-size: 1.25rem;
                        text-transform: uppercase;
                        margin-top: -2px;
                        cursor: pointer;
                    }

                    &.active-nav,
                    &:hover {
                        >.nav-line {
                            background-image: url("../assets/icons/long_arrow.svg");
                            background-size: cover;
                            image-rendering: pixelated;
                            background-color: transparent;
                            width: 56px;
                            height: 10px;
                        }

                        >p {
                            color: var(--text-color);
                        }
                    }
                }
            }
        }

        .social-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: fit-content;

            position: absolute;
            bottom: 5vh;
            left: 0;

            >img {
                image-rendering: pixelated;
                image-rendering: crisp-edges;
                image-rendering: -moz-crisp-edges;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: optimizeSpeed;
                cursor: pointer;
                width: 31px;
                height: auto;

                &:nth-of-type(1) {
                    width: 29px;
                }

                &:nth-of-type(2) {
                    margin: 0 0.563rem 0 0.625rem;
                }
            }

        }

        .last_update_date {
            width: 100%;
            text-align: left;
            @include main-font;
            color: var(--text-color);
            font-size: 1rem;

            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .right-container {
        padding: 5rem 5rem 5rem 0;

        >.home-text {
            @include main-font;
            color: #000;
            font-size: 1.375rem;
            margin-bottom: 8rem;
        }

        >.experiences-container,
        >.projects-container {
            width: 100%;

            >p {
                @include main-font;
                color: #323232;
                font-size: 1.5rem;
                text-transform: uppercase;
                margin-bottom: 1.875rem;
                display: none;
            }

            >h4 {
                @include main-font;
                color: #323232;
                font-size: 1.5rem;
                margin: 1.875rem 0 6.25rem 0;
                width: fit-content;
                transition: color 0.1s linear;
                cursor: pointer;

                &:hover {
                    color: var(--text-color);

                    >img {
                        color: var(--text-color);
                    }
                }

            }
        }

        >.experiences-container {
            >.experience-box {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                width: calc(100% + 30px);
                padding: 15px 20px;
                margin: 0 0 20px -20px;
                transition: all 0.1s linear;

                &:hover {
                    background-color: #FFFCF3;
                    border-radius: 0.938rem;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    >.details {
                        >.experience-title {
                            color: var(--text-color);
                        }
                    }
                }

                >.date {
                    width: 100px;
                    margin: 0 15px 0 0;
                    flex-shrink: 0;

                    >p {
                        @include main-font;
                        color: #323232;
                        font-size: 1.25rem;
                    }
                }

                >.details {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin: -3px 0 0 0;

                    >.experience-title {
                        @include main-font;
                        color: var(--title-color);
                        font-size: 1.563rem;
                        transition: all 0.2s linear;
                    }

                    >.experience-detail {
                        @include main-font;
                        color: #000;
                        font-size: 1.375rem;
                    }

                    >.experience-tags {
                        margin-top: 20px;

                        ul {
                            list-style: none;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            flex-wrap: wrap;
                            gap: 10px;

                            >li {
                                padding: 5px 15px;
                                background-color: #F5F6E4;
                                border-radius: 15px;

                                >p {
                                    @include main-font;
                                    color: var(--text-color);
                                    font-size: 1.25rem;
                                    margin-top: -3px
                                }
                            }
                        }
                    }
                }
            }
        }

        >.projects-container {
            >.project-box {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                width: calc(100% + 30px);
                padding: 15px 20px;
                margin: 0 0 20px -20px;

                transition: all 0.1s linear;

                &:hover {
                    background-color: #FFFCF3;
                    border-radius: 0.938rem;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    >.details {
                        >.project-title {
                            color: var(--text-color);
                        }
                    }
                }

                >.details {
                    >.project-title {
                        @include main-font;
                        color: var(--title-color);
                        font-size: 1.563rem;
                        transition: all 0.2s linear;
                        cursor: pointer;
                    }

                    >.project-detail {
                        @include main-font;
                        color: #000;
                        font-size: 1.375rem;
                    }

                    >.project-tags {
                        margin-top: 20px;

                        ul {
                            list-style: none;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            flex-wrap: wrap;
                            gap: 10px;

                            >li {
                                padding: 5px 15px;
                                background-color: #F5F6E4;
                                border-radius: 15px;

                                >p {
                                    @include main-font;
                                    color: var(--text-color);
                                    font-size: 1.25rem;
                                    margin-top: -3px
                                }
                            }
                        }
                    }
                }
            }
        }

        >.footer-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            >img {
                image-rendering: pixelated;
                image-rendering: crisp-edges;
                image-rendering: -moz-crisp-edges;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: optimizeSpeed;
                width: 12.5rem;
                height: auto;
            }

            >p {
                @include main-font;
                color: #4C4C4C;
                font-size: 1.25rem;
                width: 65%;
                text-align: center;
                margin: 0 0 6.25rem 0;
            }
        }
    }

    //Projects Archive Page

    .project-archive-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5rem;

        .return-text {
            cursor: pointer;
            transition: all 0.2s linear;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            >p,
            >.svg-wrapper,
            >.svg-wrapper>svg {
                cursor: pointer;
                transition: all 0.2s linear;
            }

            >p {
                margin-top: -3px;
                @include main-font;
                color: #323232;
                font-size: 1.25rem;
                text-transform: uppercase;
            }

            .svg-wrapper {
                width: 30px;
                overflow: hidden;
                display: inline-block;
                margin: 0 10px 0 0;


                >svg {
                    height: 10.5px;
                    width: auto;
                    color: #323232;
                }
            }

            &:hover {
                >p {
                    color: var(--text-color);
                }

                .svg-wrapper {
                    width: 20px;

                    svg {
                        color: var(--text-color);
                    }
                }

            }
        }

        >h1 {
            font-family: 'Bold-Pixel-Font', 'monospace';
            color: var(--title-color);
            font-size: 3.125rem;
            line-height: 3.5rem;
            margin: 2vh 0;
        }

        >table {
            width: 100%;
            border-collapse: collapse;

            >thead {
                tr {
                    th {
                        text-transform: uppercase;
                        @include main-font;
                        color: #4C4C4C;
                        font-size: 1.3rem;
                        text-align: left;

                        &:nth-of-type(1) {
                            padding: 0 30px 0 0;
                        }

                        &:nth-of-type(5){
                            padding: 0 0 0 30px;
                        }
                    }
                }
            }

            >tbody {
                tr {
                    height: 50px;
                    border-bottom: 2px solid #F5F6E4;

                    th {
                        @include main-font;
                        color: var(--subtitle-color);
                        font-size: 1.5rem;
                        text-align: left;
                        vertical-align: top;
                        padding: 5px 0 0 0;
                    }

                    td {
                        vertical-align: top;
                        @include main-font;
                        text-align: left;

                        &:nth-of-type(1) {
                            color: var(--text-color);
                            font-size: 1.9rem;
                            padding-bottom:10px;
                            padding-top: 4px;
                            line-height: 1.5rem;

                            svg {
                                display: none;
                            }
                        }

                        &:nth-of-type(2) {
                            color: var(--subtitle-color);
                            font-size: 1.5rem;
                            width: 150px;
                            padding: 5px 0 0 0;
                        }

                        &:nth-of-type(3) {
                            color: var(--text-color);
                            font-size: 1.25rem;
                            margin: 0 20px 0 0;

                            >.tag-wrapper {
                                height: 100%;
                                padding: 10px 0;
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: center;
                                flex-wrap: wrap;
                                gap: 10px;

                                span {
                                    padding: 0px 15px 3px 15px;
                                    background-color: #F5F6E4;
                                    border-radius: 15px;
                                }
                            }


                        }

                        &:nth-of-type(4) {
                            color: var(--subtitle-color);
                            font-size: 1.5rem;
                            white-space: nowrap;
                            padding: 5px 0 0 30px;

                            >svg {
                                vertical-align: middle;
                                margin: 0 0 0 10px;
                                color: var(--subtitle-color);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 740px) and (max-width: 1100px) {
    .body-container {

        >.project-archive-container {
            >table {
                >thead {
                    tr {
                        th {
                            &:nth-of-type(3) {
                                display: none;
                            }
                        }
                    }
                }

                >tbody {
                    tr {
                        td {
                            &:nth-of-type(2) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .body-container {
        >.project-archive-container {
            >table {
                >thead {
                    tr {
                        th {

                            &:nth-of-type(3),
                            &:nth-of-type(4) {
                                display: none;
                            }
                        }
                    }
                }

                >tbody {
                    tr {
                        td {

                            &:nth-of-type(2),
                            &:nth-of-type(3) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 740px) {
    .body-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .left-container,
        .right-container {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .left-container {
            position: static;
            padding: 3rem;

            .wrapper-box {
                position: static;
            }

            .titles-container {
                position: static;
            }

            .nav-container {
                display: none;
            }

            .social-container {
                position: static;
                margin: 5vh 0 0 0;

                >img {
                    image-rendering: pixelated;
                    image-rendering: crisp-edges;
                    image-rendering: -moz-crisp-edges;
                    image-rendering: -webkit-optimize-contrast;
                    image-rendering: optimizeSpeed;
                    cursor: pointer;
                    width: 31px;
                    height: auto;

                    &:nth-of-type(1) {
                        width: 29px;
                    }

                    &:nth-of-type(2) {
                        margin: 0 0.563rem 0 0.625rem;
                    }
                }

            }

            .last_update_date {
                display: none;
            }

        }

        >.right-container {
            padding: 3rem;

            >.experiences-container,
            >.projects-container {
                >p {
                    display: block;
                }
            }

            >.experiences-container {
                .experience-box {
                    flex-direction: column;

                    &.viewing {
                        background-color: #FFFCF3;
                        border-radius: 0.938rem;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                        >.details {
                            >.experience-title {
                                color: var(--text-color);
                            }
                        }
                    }

                    >.date {
                        >p {
                            color: #4C4C4C;
                        }
                    }


                    >.details {
                        >.experience-title {
                            margin: 1vh 0;
                        }
                    }
                }
            }

            >.projects-container {
                >.project-box {

                    &.viewing {
                        background-color: #FFFCF3;
                        border-radius: 0.938rem;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                        >.details {
                            >.project-title {
                                color: var(--text-color);
                            }
                        }
                    }

                    >.details {
                        >.project-title {
                            margin: 1vh 0;
                        }
                    }
                }
            }

            >.footer-container {

                >p {
                    width: 100%;
                }
            }
        }

        >.project-archive-container {

            >.return-text {

                >.svg-wrapper {
                    animation: ReturnButtonWidthAnimation 6s infinite ease-in-out;

                    svg {
                        animation: ReturnButtonTextAnimation 3s infinite ease-in-out;
                    }
                }
            }

            padding: 3rem;

            >table {
                >thead {
                    tr {
                        th {

                            &:nth-of-type(3),
                            &:nth-of-type(4),
                            &:nth-of-type(5) {
                                display: none;
                            }
                        }
                    }
                }

                >tbody {
                    tr {
                        td {

                            &:nth-of-type(1) {

                                .nowrap {
                                    white-space: nowrap;
                                    display: inline;
                                    height: 100%;

                                    svg {
                                        vertical-align: middle;
                                        display: inline;
                                        height: 100%;
                                        margin-left: 0.5ch;
                                        color: var(--text-color);
                                    }
                                }
                            }

                            &:nth-of-type(2),
                            &:nth-of-type(3),
                            &:nth-of-type(4) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}


@keyframes ReturnButtonTextAnimation {
    0% {
        color: #000;
    }

    50% {
        color: #8DB447;
    }

    100% {
        color: #000;
    }
}

@keyframes ReturnButtonWidthAnimation {
    0% {
        width: 30px;
    }

    50% {
        width: 20px;
    }

    100% {
        width: 30px;
    }
}