html,
body {
    background-color: #141414;
}

.body-container {
    width: 100vw;
    height: fit-content;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5vh 0;
    font-family: "Geist Mono", monospace;
    position: relative;

    p,
    h1,
    h2,
    h3 {
        cursor: crosshair;
    }

    a {
        cursor: pointer;
    }

    .header {
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .header_left {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            h1 {
                font-size: 2.4vh;
                color: #D7D7D7;
                margin: 0 0 5px 0;
                font-weight: 600;
            }

            p {
                font-size: 1.6vh;
                color: #979797;
            }
        }

        .header_right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;

            a {
                font-size: 1.7vh;
                color: #B9B9B9;
                margin: 0 0 5px 0;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                transform: translateX(10%);
                text-decoration: none;

                &:hover {
                    color: #D7D7D7;
                    transform: translateX(0px);
                }

                &:hover .text_container img {
                    opacity: 1;
                    transform: translateX(0%);
                    display: inline;
                }

                .text_container {
                    position: relative;
                    overflow: hidden;
                    margin: 0 0 0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        display: none;
                        width: 20px;
                        height: 2vh;
                        opacity: 0;
                        transform: translateX(80%);
                        transition: opacity 0.5s ease, transform 0.5s ease;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .hero {
        margin: 7vh 0;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h2,
        h3 {
            color: #B9B9B9;
            font-size: 1.7vh;
            font-weight: 400;
            width: 65%;
        }

        h2 {
            margin: 0 0 20px 0;
        }

        h3 {
            span {
                color: #FD8C30;
            }
        }
    }

    .section_one {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 40%;

        >p {
            width: 100%;
            text-align: right;
            font-size: 2vh;
            color: #84ADEB;
            font-weight: 600;
            transition: all 0.5 ease-in-out;
            margin: 0 0 3vh 0;

            &:hover {
                color: #9FB5D7
            }
        }

        .project_box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: fit-content;
            padding: 2vh 0;
            border-bottom: 0.05em solid #B9B9B9;
            position: relative;

            .project_details {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                &:nth-of-type(1) {
                    width: 45%;
                }

                &:nth-of-type(2) {
                    width: 55%;
                }

                .project_title {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    >p:nth-of-type(1) {
                        color: #fff;
                        font-size: 1.7vh;
                        font-weight: 600;
                        white-space: nowrap;
                    }

                    .green_dot {
                        margin: 0 10px;
                        width: 1vh;
                        height: 1vh;
                        border-radius: 50%;
                        background-color: #93E3A0;
                    }

                    .text_container {
                        position: relative;
                        width: 80px;
                        overflow: hidden;

                        .hidden_text {
                            color: #93E3A0;
                            font-size: 1.5vh;
                            font-weight: 400;
                            opacity: 0;
                            transform: translateX(-100%);
                            transition: opacity 0.5s ease, transform 0.5s ease;
                        }
                    }
                }

                >p {
                    margin: 3px 0 0 0;
                    font-size: 1.6vh;
                    color: #979797;
                }

                .project_links {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;
                    transform: translateX(10px);
                    transition: transform 0.5s ease;
                    height: 2vh;

                    >img {
                        height: 2vh;
                    }

                    .text_container {
                        position: relative;
                        overflow: hidden;
                        margin: 0 0 0 10px;

                        .hidden_text {
                            display: none;
                            color: #D7D7D7;
                            font-size: 1.6vh;
                            font-weight: 400;
                            cursor: pointer;
                            opacity: 0;
                            transform: translateX(-100%);
                            transition: opacity 0.5s ease, transform 0.5s ease;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .project_tags {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: flex-start;
                    width: 100%;
                    flex-wrap: wrap;

                    >p {
                        padding: 0.2vh 0.5vw;
                        font-size: 1.6vh;
                        border: 0.08rem solid #979797;
                        border-radius: 5px;
                        color: #979797;
                        margin: 5px;
                        white-space: nowrap;
                        transition: all 0.5s ease-in-out;

                        &:hover {
                            color: #84ADEB;
                            border: 0.08rem solid #84ADEB;
                        }
                    }
                }
            }

            &:hover .project_details .project_title .text_container .hidden_text {
                opacity: 1;
                transform: translateX(0);
            }

            &:hover .project_details .project_links .text_container .hidden_text {
                opacity: 1;
                transform: translateX(0);
                display: inline;
            }

            &:hover .project_details .project_links {
                transform: translateX(-2%);
            }
        }


    }

    .footer {
        width: 40%;
        height: 10vh;
        margin: 5vh 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        p {
            font-size: 1.6vh;
            color: #979797;

            >span {
                color: #D7D7D7;
                transition: all 0.5s ease-in-out;

                &:hover {
                    color: #FD8C30;
                }
            }
        }

        .language_selector {
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            >img {
                cursor: pointer;
                height: 2.5vh;
                width: 4vh;
                margin: 0 1.5vw 0 0;
            }
        }
    }
}

@media (max-width: 1300px) {

    .header,
    .footer,
    .section_one,
    .hero {
        width: 90% !important;
    }

    .project_box {
        flex-direction: column !important;
        overflow: hidden !important;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(360deg, rgba(173, 216, 230, 0.10) , rgba(255, 255, 255, 0));
            filter: blur(5px);
        }

        &:first-of-type::before {
            animation: waveAnimation 5s infinite linear 0s;
        }

        &:nth-of-type(2)::before {
            animation: waveAnimation 5s infinite linear 2s;
        }

        &:nth-of-type(3)::before {
            animation: waveAnimation 5s infinite linear 4s;
        }
    }

    .project_links {
        top: 2vh;
        position: absolute;
    }

    .project_details {
        width: 100% !important;
    }

    .project_tags {
        justify-content: flex-start !important;

        >p:nth-of-type(1) {
            margin-left: 0px !important;
            padding: 0.2vh 2vw !important;
        }
    }

    .footer {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;

        .language_selector {
            width: 100% !important;
            justify-content: center !important;
            margin: 0 0 3vh 0;
        }
    }
}

@keyframes waveAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}