.header-container {
    z-index: 99;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1vh solid #3D3D3D;
    padding: 0 10vw;
    background-color: rgba($color: #000000, $alpha: 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    >p {
        cursor: default;
        font-size: 2.5vh;
        font-weight: 800;
        font-family: "Space Grotesk", serif;
        color: white;

        &:hover span {
            background-position: bottom right 100%;
        }

        >span {
            background: linear-gradient(0.45turn, #955DF6, #34008E);
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-fill-color: transparent;
            background-size: 100% 200%;
            background-position: top left;
            transition: all 1s ease-in-out;
        }
    }

    >.navigation-box {
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        >p {
            font-size: 1.8vh;
            font-weight: 300;
            font-family: "Space Grotesk", serif;
            color: white;
            cursor: pointer;
            transition: all 0.2s;
            padding: 0 0 0 25px;

            &:hover {
                font-size: 1.9vh;
                font-weight: 500;
                transition: all 0.2s;
            }
        }
    }
}

@media (max-width: 1200px) {
    .header-container {
        display: none !important;
    }
}